name: marp-github-actions

on:
  push:
    branches:
      - main
      - add/flutter-2024

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  LANG: "ja_JP.UTF-8"
jobs:
  build-slides:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - slide: 2024/flutter-intro
            output_name: flutter-intro-2024
          - slide: 2024/flutter-memo
            output_name: flutter-memo-2024
          - slide: 2025/regex-handson
            output_name: regex-handson-2025
          - slide: 2025/scrum-trial
            output_name: scrum-trial-2025
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Setup Packages
        run: sudo apt update && sudo apt install jq npm fonts-noto

      - name: Install Marp CLI
        run: npm install -g @marp-team/marp-cli

      - name: Make Directory
        run: mkdir dest && cp -r ./${{ matrix.slide }}/imgs ./dest/imgs || true

      - name: Build Marp PDF
        run: marp ${{ matrix.slide }}/slide.md
          --pdf
          -o ./dest/slide.pdf
          --allow-local-files

      - name: Build Marp HTML
        run: marp ${{ matrix.slide }}/slide.md
          --html
          -o ./dest/slide.html
          --allow-local-files

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output_name }}
          path: ./dest

  upload-slide:
    runs-on: ubuntu-latest
    needs:
      - build-slides
    steps:
      - name: Download git Artifact
        uses: actions/download-artifact@v4

      - name: Upload Slide Artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./

      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs:
      - upload-slide
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4